body {
  background-image: url(poi.jpg);
  background-size: cover;
}
header {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  width: 250px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: 100px;
  right: 550px;
  transform: translate(0%, -5%);
  border-radius: 10px;
  padding: 25px;
}

.login h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: rgb(0, 0, 255);
  font-size: 22px;
  background-color: rgb(157, 255, 0);
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.login input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ffffff;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.login input:focus {
  outline: none;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #ffffff;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover {
  background: #fff;
  color: #9b9b9b;
}
.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
